[submodule "vendor/cmake-xenon-toolchain"]
	path = vendor/cmake-xenon-toolchain
	url = https://github.com/Purplesmaug96/cmake-xenon-toolchain.git
[submodule "vendor/dxvk"]
	path = vendor/dxvk
	url = https://github.com/Purplesmaug96/dxvk.git
[submodule "vendor/Atg"]
	path = vendor/Atg
	url = https://github.com/Purplesmaug96/Atg.git
[submodule "vendor/angle"]
	path = vendor/angle
	url = https://github.com/Purplesmaug96/angle.git
	branch = d3d9
